<!DOCTYPE html>
<html>
<head>
    <title>Categories</title>
</head>
<body>
    <h1>Categories</h1>
    <form action="/categories/create" method="POST">
        <input type="text" name="name" placeholder="Name" required>
        <button type="submit">Create Category</button>
    </form>
    <ul>
        <% categories.forEach(category => { %>
            <li><%= category.name %> - Posts: <%= category.posts.length %></li>
        <% }) %>
    </ul>
    <a href="/">Back</a>
</body>
</html>
